body{
    margin:0;
    font-family:Arial,Helvetica,sans-serif;
    background:#0d0d0d;
    color:#fff;
}

.container{
    width:90%;
    margin:auto;
    padding:40px 0;
    text-align:center;
}

h1{
    margin-bottom:40px;
}

.timeline{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:15px;
}

.card{
    flex:1;
    min-width:160px;
    padding:20px;
    background:#1e1e1e;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

.card:hover{
    background:#cfa24d;
    color:#000;
    transform:scale(1.05);
}

.details{
    margin-top:40px;
    padding:25px;
    background:#1a1a1a;
    border-radius:8px;
    font-size:18px;
}
